@import url('https://fonts.googleapis.com/css2?family=Lexend+Exa:wght@100..900&family=Poppins:wght@200;400;500;600;700&display=swap');

/* .absolute{
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
} */

.tapin-name{
  color: #18cb96;
}
.button-lets{
  background-color: #18cb96;
}
.intro-class{
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 80px;
}

.dis-class{
  font-size: 24px;
  color: white;
  font-weight: 300;
}
.newsletter{
  width: 80%;
}
.join-us{
  text-align: center;
}